<!DOCTYPE html>
<html>
<head>
    <title>Beers</title>
</head>
<body>
    <h1>All Beers</h1>
    {{#each beers}}
        <div class="beer">
            <img src="{{image_url}}" alt="{{name}}" width="100" height="150">
            <h2>{{name}}</h2>
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Tagline:</strong> {{tagline}}</p>
            <hr>
        </div>
    {{/each}}
</body>
</html>
