<!DOCTYPE html>
<html>
<head>
    <title>Random Beer</title>
</head>
<body>
    <h1>Random Beer</h1>
    <div class="beer">
        <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}" width="100" height="150">
        <h2>{{randomBeer.name}}</h2>
        <p><strong>Description:</strong> {{randomBeer.description}}</p>
        <p><strong>Tagline:</strong> {{randomBeer.tagline}}</p>
        <hr>
    </div>
</body>
</html>
